<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    
    
</head>
<body>
    <div class="container">
        <h3>Home</h3>

        <a class="btn btn-success px-3 me-2" href="{{ url_for('sucursal') }}">Actualizar </a>
        
        <a class="btn btn-success px-3 me-2" href="{{ url_for('update_sucursal_cameras_status') }}">Actualizar status </a>
    
    
        <a class="btn btn-success px-3 me-2" href="{{ url_for('update_sucursal_cameras') }}"> Actualizar videos perdidos </a> 
    
    </div>
    
</body>
</html>